body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header, footer {
    text-align: center;
}

.perfil-card {
    display: flex;
    max-width: 50%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 0 0 15px;
}