body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

header, footer {
    text-align: center;
    background-color: rgb(199, 135, 236);
    padding: 10px 0;
}

img {
    width: 210px;
    max-height: 100%;
    border-radius: 20px;
}

.content {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: azure
}

.perfil-card {
    width: 100%;
    max-width: 750px;
    padding: 20px;
    border: 1px solid black;    
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.18);
    background-color: beige;     
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    column-gap: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.perfil-card:hover {
    transform: scale(1.02);
}

.side { grid-column: 1 / 2; }
.top { grid-column: 2 / 4; }
.ocupacion { grid-column: 2 / 3; }
.redes { grid-column: 3 / 4; }

.redes ul {
    list-style: none;
    margin: 5px 0;
    padding: 0;
    transition: 0.2;
    cursor: pointer;
}
ul:hover {
    transform: scale(1.02);
}

.redes a {
    text-decoration: none;
    color: #005;
    font-weight: bold;
}

@media (max-width: 600px) {
    img {
        max-width: 120px;
        max-height: 100%;
    }

    h1 {
        font-size: 20px;
    }
}
